{% extends 'base.html' %}
{% block style %}
    <link href="/static/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/static/css/tags.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 center-align" id="tag-head-container">
                <div class="chip" id="tag-head"><i class="fa fa-tag"></i> {{ tag.name }}</div>
                <span>의 검색 결과</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content light-blue lighten-5">
                        <span class="card-title">Users</span>
                        <ul class="collection">
                            {% for user in tag.users.all %}
                                <li class="collection-item avatar grey lighten-4">
                                    <div class="row">
                                        <div class="col s12">
                                            <img src="{{ user.profile_image.url }}" alt="" class="circle">
                                            <a href="{% url 'accounts:detail' user.pk %}">
                                                <span class="title black-text">{{ user.name }}</span>
                                            </a>
                                        </div>
                                    </div>
                                <span>
                                {% for tag in user.tags.all %}
                                <a href="{% url 'tags:detail' tag.pk %}">
                                    <div class="chip">{{ tag.name }}</div>
                                </a>
                                {% endfor %}
                                </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-content blue lighten-5">
                        <span class="card-title">Teams</span>
                        {% for team in tag.teams.all %}
                        <div class="card">
                            <div class="card-content black-text grey lighten-4">
                                <a href="{% url 'teams:detail' team.pk %}">
                                    <span class="card-title black-text">{{ team.name }}</span>
                                </a>
                                <p class="card-body">{{ team.introduce }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
