defusedxml==0.4.1
Django==1.8.9
django-allauth==0.24.1
django-extensions==1.6.1
djangorestframework==3.3.3
oauthlib==1.1.1
python3-openid==3.0.10
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
