{% extends 'base.html' %}
{% block content %}


{% endblock %}
{% block script %}

    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle yellow">pause</i>
            <span class="title">급식의 지니!</span>
            <p>First Line <br>
            <div class="progress c">
                <div class="determinate" style="width: 70%"></div>
            </div>
            </p>
            <a href="#!" class="secondary-content">70%
            </a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">도서관 프린트 설치</span>
            <p>First Line <br>
            <div class="progress c">
                <div class="determinate" style="width: 0%"></div>
            </div>
            </p>
            <a href="#!" class="secondary-content">0%
            </a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle yellow">pause</i>
            <span class="title">선린픽</span>
            <p>First Line <br>
            <div class="progress c">
                <div class="determinate" style="width: 50%"></div>
            </div>
            </p>
            <a href="#!" class="secondary-content">50%
            </a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle blue">stop</i>
            <span class="title">학생증 리뉴얼</span>
            <p>First Line <br>
            <div class="progress c">
                <div class="determinate" style="width: 100%"></div>
            </div>
            </p>
            <a href="#!" class="secondary-content">100%
            </a>
        </li>
    </ul>

{% endblock %}
