{% extends 'base.html' %}
{% block style %}
    <link href="/static/css/account_detail.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card blue-grey col s12 l6">
                <div class="row" id="image-area">
                    <div class="col s6">
                        <img class="circle user-profile-image" src="/media/{{ user.profile_image }}">
                    </div>
                    <div class="card-content white-text">
                        <div class="col s6">
                            <p id="user-name">{{ user.name }}</p>
                            <p class="user-info">{{ user.entrance_year }}년 입학</p>
                            <p class="user-info">{{ user.grade }}학년 {{ user.klass }}반 {{ user.number }}번</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="col s12">
                    <p class="area-title">자기소개</p>
                    <p id="user-bio">
                        {% if user.introduction == "" %}
                            자기소개가 없습니다.
                        {% else %}
                            {{ user.introduction }}
                        {% endif %}
                    </p>
                    {% for tag in user.tags.all %}
                        <a href="/tags/{{ tag.pk }}">
                            <div class="chip">{{ tag.name }}</div>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col s12">
                <p class="area-title">팀 목록</p>
                {% for team in user.teams.all %}
                <div class="col s12 m6 l4">
                    <a href="/teams/{{ team.pk }}">
                        <div class="card blue-grey lighten-5">
                            <div class="card-content black-text">
                                <span class="card-title">{{ team.name }}</span>
                                <p class="card-body">{{ team.introduce }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
