{% extends 'base.html' %}
{% block content %}
    <script>
        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

    </script>
    <div class="row">
        <div class="col s12" align="center">
            <img src="/static/images/rogo.png" class="circle login_logo-img">
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s9 offset-s1">
                <i class="material-icons prefix">account_circle</i>
                <input id="id-field" type="text" class="validate" name="username" required="required">
                <label for="id-field">ID</label>
            </div>

            <div class="input-field col s9 offset-s1">
                <i class="material-icons prefix">account_circle</i>
                <input id="pw-field" type="password" class="validate" name="password" required="required">
                <label for="pw-field">PW</label>
            </div>

            <div class="col s12">
                <p id="error-msg" class="red-text" style="text-align: center"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12" align="center">
                <button class="btn waves-effect waves-light loginbutton">로그인</button>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col s12" align="center">
            <div id="status"></div>
            <button class="btn waves-effect waves-light facebooklogin" name="action">
                <i class="fa fa-facebook left" aria-hidden="true"></i><a class="white-text"
                                                                         href="/allauth/facebook/login/">페이스북으로 로그인</a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s12 signup" align="center">
            혹시 회원이 아니신가요?
            <a class="grey-text text-darken-2 signuplink" href="{% url 'accounts:signup' %}">회원가입</a>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log ' +
                        'into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log ' +
                        'into Facebook.';
            }
            console.log(response);
            console.log("token:" + response.authResponse.accessToken);
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.

        window.fbAsyncInit = function () {
            FB.init({
                appId: '528049860707304',
                xfbml: true,
                version: 'v2.6'
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        }
        ;


        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log(response);
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                        'Thanks for logging in, ' + response.name + '!';
            });
        }

        // Login Event Handler
        $('form').on('submit', function (e) {
            $.post(
                    "{% url 'rest_login' %}",
                    {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        username: $('#id-field').val(),
                        password: $('#pw-field').val()
                    }
            ).done(function (data) {
                location.href = "{% url 'index' %}";
            }).fail(function (data) {
                var notify_error = function(resp, elem_id){
                    $("#"+elem_id).addClass("invalid");
                    $("label[for="+elem_id+"]").attr("data-error", resp);
                };
                data = data.responseJSON;
                if(data.username){
                    notify_error(data.username, "id-field");
                }
                if(data.password){
                    notify_error(data.email, "pw-field");
                }
                if(data.non_field_errors){
                    $("#error-msg").html(data.non_field_errors);
                }
            });
            e.preventDefault();
        });
    </script>
{% endblock %}
