{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12" align="center">
        <img src="/static/images/rogo.png" class="circle login_logo-img">
    </div>
</div>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
          <input id="number" type="text" class="validate">
          <label for="last_name">Number</label>
      </div>
          <div class="input-field col s12">
          <input id="id" type="text" class="validate">
          <label for="id">ID</label>
      </div>
    <div class="input-field col s12">
      <input id="password" type="password" class="validate">
      <label for="password">Password</label>
  </div>
    <div class="input-field col s12">
      <input id="email" type="email" class="validate">
      <label for="email">Email</label>
  </div>
</div>
</form>
</div>

<div class="row">
    <div class="col s12" align="center">
        <button class="btn waves-effect waves-light loginbutton" type="submit" name="action">Sign Up</button>
    </div>
</div>
</form>


    {% endblock %}
    {% block script %}



    {% endblock %}
