@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.user-profile-image {
    width: 160px;
    height: 160px;
}
.area-title {
    font-size: 1.8em;
}

#image-area {
    text-align: center;
    padding: 20px;
}
#user-name {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2em;
}
