.userimg {
    height: 50px;
}

.locateimg {
    height: 60px;
}
.marginlocation{
    margin-top:15px;
}
.locatetxt{
    font-size:20px;
}
.icon{
    height: 30px;
}
.iconfont{
    font-size:25px;
}
.widthfull
{
    width :100%;
}
