.main-content{
    line-height: 25px;
    font-size: 1.1em;
}
#meal
{
    width: 20px;
}
#main-meal
{
    background-color: #36b3ff !important;
}
#main-event
{
    background-color: #0091ea !important;
}
#main-notice
{
    background-color: #006eb2 !important;
}
#meal-img
{
    width:120px;
    height:120px;
}
.pclass{
    font-size:16px;
}
.card .card-content p {
    margin: 0;
    margin-left: 10px;
    color: inherit;
    line-height: 20px;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0px;
}
.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0;
  padding-right: 10px;
}
.hot{
    width: 100%;
    margin-top:5px;
    margin-left:5px;
    margin-left:8px;
}

.cardtitle{
    font-weight:bold ;
}
#main-card{
    height: 100px;
}
.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}
.slider{
    height: 210px !important;
}
.slides{
    height: 180px !important;
}
.headers{
    text-align: center;
    font-size: 16px;
    margin:0;
    color:#fff;
}
.headerbar{
    border-bottom: none !important;
}
.slider .indicators .indicator-item.active {
    background-color: #36b3ff;
}
.container{
    margin:2%;
    width: 96%;
}
.maincard{
border: 1px solid #0091ea;
}
.collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #0091ea;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
