.map-container {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
/ / width: 600 px;
}

.map {
    height: 400px;
}

.info {
    height: 500px;
}

.locationphoto {
    height: 60px;
}

.card-panel {
    padding-top: 5px;
    padding: 5px;
}

.row {

    margin-bottom: 0px;
}
.locationaddress{
    font-size : 11px;
}
.locate_grade{
    font-size : 18px;
}
