.meal-card{
    background-color: #36b3ff;
}
#meal-img{
    width:100%;
}
#meal-title{
    font-size:15px
}
#meal-score{
    font-size:42px;
}
.card .score{
    padding: 5px;
}
#comment-bar{
    background-color: #36b3ff;
    height:23px;
}
#comment-bar #count{
    padding-left : 1.5rem;
    color : #fff;
}
.rate-title{
    font-size:20px;
    margin:15px
}
.row-bottom{
    margin-bottom:0px;
}

.star{
    height: 18px;
}
.meal-card{
    color: white;
}
.col.s4paddingzero {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    padding: 0px;
    right: auto;
}
.pstar {
    height: 28px;
}
