/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

nav {
  background-color: #00bcd4;
}

nav ul a,
nav .brand-logo {
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ffffff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

img.user_photo-img,
video.responsive-video {
  margin : 5px;
  max-width: 5em;
  height: 5em;
}

img.login_logo-img,
video.responsive-video {
margin-top: 3em;
margin-left: 8em;
  width: 10em;
  height: 10em;
}

/* Navbar */
#menu-button {
  padding-left: 10px;
}
.active > i { /* Active tab icon */
  color: #80deea !important;
}
.tabs {
  padding-top: 5px;
}
.tabs .indicator {
  background-color: #00bcd4;
}
