/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


nav {
  background-color: #f6f6f6;
}

nav ul a,
nav .brand-logo {
  font-family: 'Noto Sans KR', sans-serif;
  color: #0091ea;

}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #0091ea;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

img.user_photo-img,
video.responsive-video {
  width: 80px;
  height: 80px;
}

img.login_logo-img,
video.responsive-video {
  margin-top: 10%;
  margin-bottom: 5%;
  width: 40%;
  height: 40%;
}

/* Navbar */
#menu-button {
  padding-left: 10px;
}
.active > i { /* Active tab icon */
  color: #80deea !important;
}
.tabs {
  padding-top: 5px;
}
.tabs .indicator {
  background-color: #00bcd4;
}
.side-nav .p{
    margin-left: 16px;
}
.side-nav{
    width :300px;
}
.sort{
    margin-left: 40px;
    margin-bottom:30px;
}

.btn, .btn-large {
    background-color: #36b3ff;
}

.side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover {
  background-color: #3366ff;
}

/*loginbutton*/
.loginbutton {
  width: 70%;
  height: 50px;
  background-color: #00bcd4;
}
.facebooklogin {
  width: 70%;
  height: 50px;
  background-color: #3b5998;
}

.signup{
  margin-top: 10%;
}

.signuplink{
  text-align: center;
  font-weight: bold;
}
.meal-layout{
    background: lightgray;
    border-radius : 10% ;
    text-align: center;
}
.meal-top {
	height: 6em;
    border-radius : 30% ;
	background: whitesmoke;
    text-align: center;
}
.meal-bottom {
	height: 11em;
    border-radius : 30% ;
	background: whitesmoke;
    text-align: center;
}
.meal-bottom2 {
	height: 11em;
    border-radius : 100% ;
	background: whitesmoke;
    text-align: center;
}
.meal_text {
    margin-top : auto;
}
.comment{
    width : 100%;
}
.boardlist
{
    padding-left : 10px;
}
