{% extends 'base.html' %}
{% block content %}
    <ul class="collection">
        <li class="collection-item avatar openchatimg">
            <img src="/static/images/logo.png" alt="" class="circle">
            <span class="title">김주용</span>
            <p>안녕하세여</p>
        </li>
        <li class="collection-item avatar">
            <img src="/static/images/logo.png" alt="" class="circle">
            <span class="title">김주용</span>
            <p>안녕하세여</p>
        </li>
        <li class="collection-item avatar">
            <img src="/static/images/logo.png" alt="" class="circle">
            <span class="title">김주용</span>
            <p>안녕하세여</p>
        </li>
        <li class="collection-item avatar">
            <img src="/static/images/logo.png" alt="" class="circle">
            <span class="title">김주용</span>
            <p>안녕하세여</p>
        </li>
        <li class="collection-item avatar">
            <img src="/static/images/logo.png" alt="" class="circle">
            <span class="title">김주용</span>
            <p>안녕하세여</p>
        </li>
        <li class="collection-item avatar">
            <img src="/static/images/logo.png" alt="" class="circle">
            <span class="title">김주용</span>
            <p>안녕하세여</p>
        </li>
        <li class="collection-item avatar">
            <img src="/static/images/logo.png" alt="" class="circle">
            <span class="title">김주용</span>
            <p>안녕하세여</p>
        </li>
    </ul>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
{% block script %}

{% endblock %}
