{% extends 'base.html' %}
{% block content %}

    <div class="divider"></div>

    <h5 align="center">중식</h5>

    <div class="divider"></div>

    </div>
    <div class="row meal-layout ">

        <div class="col s3">

            <div class="meal-top">
                <p>메추리알</p>
            </div>
        </div>
        <div class="col s3">
            <div class="meal-top">
                <p>김치</p>
            </div>
        </div>
        <div class="col s3">
            <div class="meal-top">
                <p>멸치</p>
            </div>
        </div>
        <div class="col s3">
            <div class="meal-top">
                <p>감자</p>
            </div>
        </div>
        <div class="col s3">
            <a>8.3</a>
        </div>
        <div class="col s3">
            <a>8.3</a>
        </div>
        <div class="col s3">
            <a>8.3</a>
        </div>
        <div class="col s3">
            <a>8.3</a>
        </div>
        <div class="col s6">
            <div class="meal-bottom">
                <p>잡곡밥</p>
            </div>
        </div>
        <div class="col s6">
            <div class="meal-bottom2">
                <p>콩나물 국</p>
            </div>
        </div>
        <div class="col s6">
            <a>9.2</a>
        </div>
        <div class="col s6">
            <a>5.3</a>
        </div>
    </div>
    <ul class="collection with-header">
        <a class="collection-item" align="center">각메뉴를 선택해서 평점을 매겨보세요!</a>
    </ul>

  <!-- Modal Trigger -->
  <button data-target="modal1" class="btn modal-trigger">Modal</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

{% endblock %}
{% block script %}

{% endblock %}
