{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/bower_components/raty/lib/jquery.raty.css">
    <link href="/static/css/meal.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="center-align blue-text text-lighten-1 rate-title" >평점을 매겨주세요!</div>
                <div class="divider"></div>
                <link href="/static/css/location.css" type="text/css" rel="stylesheet" media="screen,projection"/>
                <div class="row row-bottom">
                    <div class="valign-wrapper row">
                        <div class="col s3">
                            현미밥
                        </div>
                        <div class="col s7 right-align">
                            <div id="rice_star" class="raty"></div>
                        </div>
                        <div class="col s2 center-align scoreboard">
                            <div id="rice_target"></div>
                        </div>
                    </div>
                </div>
                <div class="row row-bottom">
                    <div class="valign-wrapper row">
                        <div class="col s3">
                            콩나물국
                        </div>
                        <div class="col s7 right-align">
                            <div id="soup_star" class="raty"></div>
                        </div>
                        <div class="col s2 center-align scoreboard">
                            <div id="soup_target"></div>
                        </div>
                    </div>
                </div>
                <div class="row row-bottom">
                    <div class="valign-wrapper row">
                        <div class="col s3 menu-text">
                            배추김치
                        </div>
                        <div class="col s7 right-align">
                            <div id="kimchi_star" class="raty"></div>
                        </div>
                        <div class="col s2 center-align scoreboard">
                            <div id="kimchi_target"></div>
                        </div>
                    </div>
                </div>
                <div class="rowrow-bottom">
                    <div class="valign-wrapper row">
                        <div class="col s3">
                            샐러드
                        </div>
                        <div class="col s7 right-align">
                            <div id="vegetable_star" class="raty"></div>
                        </div>
                        <div class="col s2 center-align scoreboard">
                            <div id="vegetable_target"></div>
                        </div>
                    </div>
                </div>
                <div class="row row-bottom">
                    <div class="valign-wrapper row">
                        <div class="col s3">
                            삼겹살
                        </div>
                        <div class="col s7 right-align">
                            <div id="etc1_star" class="raty"></div>
                        </div>
                        <div class="col s2 center-align scoreboard">
                            <div id="etc1_target"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="/static/images/issue-blue.png" class="icon">
            <a class="iconfont">리뷰</a>
            <div class="input-field col s12">
                <input placeholder="드셨던 메뉴를 솔직하게 리뷰해주세요." id="first_name" type="text" class="validate">

            </div>
            <a class="waves-effect waves-light btn widthfull">리뷰 등록</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/bower_components/raty/lib/jquery.raty.js"></script>
    <script src="/static/js/raty_wrapper.js"></script>
    <script>
        drawRaty("rice", 3.0, false);
        drawRaty("soup", 3.0, false);
        drawRaty("kimchi", 3.0, false);
        drawRaty("vegetable", 3.0, false);
        drawRaty("dessert", 3.0, false);
        drawRaty("source", 3.0, false);
        drawRaty("etc1", 3.0);
        drawRaty("etc2", 3.0);
    </script>
{% endblock %}
