{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block head %}
{% endblock %}
{% block content %}
    <link href="/static/css/location.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <div class="contect">
        <div class="row">

            <ul class="tabs">
                <li class="tab col s3"><a href="#test1">정보</a></li>

                <li class="tab col s3"><a href="#test2">리뷰</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/location.jpg">
                            <span class="card-title">{{ place.name|safe }}</span>
                        </div>
                        <div class="card-content center-align">
                            <p class="grade"><a>{{ place.rate_avg }}</a> | </p>
                        </div>

                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card white center-align">
                        <div class="card-content ">
                            <p>위치 I {{ place.address }}</p>
                            <p>전화 I {{ place.telephone }}</p>
                            <p>영업 I AM10:00~PM02:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="test2" class="col s12">
            <ul class="collection">
                {% for review in place.reviews.all %}
                    <li class="collection-item avatar">
                        <img src="{{ review.user.profile_image.url }}" alt="" class="circle userimg">
                        <span class="title">{{ review.user.name }}</span>
                        <span>{{ review.when }}</span>
                        <p>{{ review.comment }}
                        </p>
                        {% for image in review.images.all %}
                            <img src="{{ image.image.url }}" alt="" class="userimg">
                        {% endfor %}
                    </li>
                {% endfor %}
            {% if not review %}
                <li class="collection-item avatar">등록된 리뷰가 없습니다.</li>
            {% endif %}
            </ul>
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red" href="/hotplace/{{ place.pk }}/review/">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
        </div>


    </div>
{% endblock %}

{% block script %}
{% endblock %} 
