{% extends 'base.html' %}
{% block style %}
    <link href="/static/css/map.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
{% block content %}
    <script src="https://googlemaps.github.io/js-marker-clusterer/examples/data.json"></script>
    <script src="https://googlemaps.github.io/js-marker-clusterer/src/markerclusterer.js"></script


    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#sunrinmap">지도</a></li>
                <li class="tab col s3"><a href="#placeListTap">모든 장소</a></li>
            </ul>
        </div>
        <div id="sunrinmap" class="col s12">
            <div id="map" class="col s12">
            </div>
        </div>
        <div id="placeListTap" class="col s12">
            <div id="placeList">
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="http://{image_url}" alt="" class="locationphoto">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s9">
                        <a>3POP</a><br/>
                <span class="black-text locationaddress">
                서울시 용산구 뭐시기
                </span>
                    </div>
                    <div class="col s2 locate_grade">
                        <a>{rate}</a>
                    </div>
                </div>
            </div><!-- #placeList -->
        </div>

    </div>

{% endblock %}
{% block script %}
    <script>
        var BaseplaceCard = '' +
                '<div class="divider"></div>' +
                '<div class="row valign-wrapper">' +
                '<div class="col s3">' +
                '<img src="http://materializecss.com/images/yuna.jpg" alt="" class="locationphoto">' +
                '</div>' +
                '<div class="col s9">' +
                '<a>{name}</a><br/>' +
                '<span class="black-text locationaddress">' +
                '{address}' +
                '</span>' +
                '</div>' +
                '<div class="col s2 locate_grade">' +
                '<a>4.5</a>' +
                '</div></div></div>';
        function appendPlaceList(place) {
            var placeCard = BaseplaceCard.replace("{name}", place.name);
            placeCard = placeCard.replace("{address}", place.address);
            $("#placeList").append(placeCard);
        }
        function drawMarker(data) {
            var infowindow = [];
            var markers = [];
            $("#placeList").html('');
            for (var i = 0; i < data.length; i++) {
                var place = data[i];
                var latLng = new google.maps.LatLng(place.y, place.x);
                var marker = new google.maps.Marker({
                    position: latLng
                });
                markers.push(marker);
                appendPlaceList(place);
                var markerContent = '' +
                        '<div class="infowindow">' +
                        '<h2 class="marker-title">' + data[i].name + '</h2>' +
                        '<div class="marker-body">' + data[i].address + '</div>' +
                        '</div>';
                infowindow[i] = new google.maps.InfoWindow({
                    content: markerContent
                });
                (function (m) {
                    markers[m].addListener('click', function () {
                        console.log(infowindow[m]);
                        infowindow[m].open(map, markers[m]);
                        setTimeout(function () {
                            infowindow[m].close();
                        }, 3000);
                    });
                })(i);
            }
            
            var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://googlemaps.github.io/js-marker-clusterer/images/m'});
        }

        function loadPlaceinArea(map) {
            var bounds = map.getBounds();
            var ne = bounds.getNorthEast(); // LatLng of the north-east corner
            var sw = bounds.getSouthWest(); // LatLng of the south-west corder
            var url = '/api/places/';
            var res = [];
            $.get(url, {
                'ne': ne.lat() + ',' + ne.lng(),
                'sw': sw.lat() + ',' + sw.lng()
            }, function (placeInArea) {
                res = placeInArea;
                drawMarker(res);
            });

        }
        function initialize() {
            var center = new google.maps.LatLng(37.54431647617547, 126.969938342295);

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: center,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });


            map.addListener('center_changed', function () {

                loadPlaceinArea(map);
            });
            google.maps.event.addDomListener(window, 'load', function () {
                loadPlaceinArea(map);
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC4k1rRvHyZodyQJO8QiBoi3tywMoKdCc&callback=initialize"></script>
{% endblock %}
