{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/bower_components/raty/lib/jquery.raty.css">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    <link href="/static/css/location.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <ul class="collection">
        <div class="row marginlocation">
            <div class="col s3">
                <img src="{{ place.image.url }}" class="locateimg">
            </div>
            <div class="col s9">
                {{ place.address }}<br/>
                <span class="locatetxt">{{ place.name|safe }}</span><br/>
            </div>
        </div>
    </ul>
    <div class="row">
        <div class="valign-wrapper row">
            <div class="col s3">
                평점
            </div>
            <div class="col s7 right-align">
                <div id="place_star" class="raty"></div>
            </div>
            <div class="col s2 center-align scoreboard">
                <div id="place_target"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="/static/images/issue-blue.png" class="icon">
            <a class="iconfont">리뷰</a>
            <div class="input-field col s12">
                <input placeholder="맛, 가격, 시설등을 고려해 솔직한 평가를 작성해주세요." type="text" class="validate" id="comment">
            </div>
            <a class="waves-effect waves-light btn widthfull review-submit">리뷰 등록</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/bower_components/raty/lib/jquery.raty.js"></script>
    <script src="/static/js/raty_wrapper.js"></script>
    <script>
        function reviewSubmit(elem) {
            $('<form action="/hotplace/{{ place.pk }}/review/" method="POST">' +
                    "{% csrf_token %}" +
                    '<input type="hidden" name="rate" value="' + $("#place_target").html() + '">' +
                    '<input type="hidden" name="comment" value="' + $("#comment").val() + '">' +
                    '</form>').submit();
        }
        $("#see_comments").click(function () {

        });
        drawRaty("place", 3.0, false);
        $(document).ready(function(){
            $(".review-submit").click(reviewSubmit);
        });
    </script>
{% endblock %}
