<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#01579b">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/bower_components/Materialize/dist/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/sidebar.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-81014082-1', 'auto');ga('send', 'pageview');
    </script>
    {% block style %}{% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"
                                                                            id="menu-button">menu</i></a>
        <a href="/" class="brand-logo"><span class="brand-logo">Sunrin.io</span></a>

        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
            <li><a href="http://sunrinwiki.layer7.kr">SunrinWiki</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        {% if request.user.is_authenticated %}
                            <div class="row valign-wrapper">
                                <div class="col s7">
                                    <img src="/media/{{ request.user.profile_image }}" alt="프로필 사진"
                                         class="circle user_photo-img">
                                    <!-- notice the "circle" class -->
                                </div>
                                <div class="col s5">
                                <span class="black-text">
                                    {{ request.user.name }}
                                </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <a class="waves-effect waves-light btn" href="{% url 'accounts:logout' %}">로그아웃</a>
                                </div>
                            </div>
                        {% else %}
                            <a class="waves-effect waves-light btn" href="{% url 'accounts:login' %}">로그인</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            <a href="/"><li><img src="/static/images/home-button.png" class="sideicon"> <span class="sort">Home</span></li></a>
            <li> <a href="{% url 'accounts:mypage' %}"><img src="/static/images/MYAPAGE.png" class="sideicon"><span class="sort">마이페이지</span></a></li>
            <li><a href="http://sunrinwiki.layer7.kr"><img src="/static/images/export-button.png" class="sideicon"><span class="sort">선린위키로</span></a></li>

            <div class="divider"></div>
            <p class="grey-text text-darken-1 left-align p">커뮤니티</p>
            <a href=""><li><img src="/static/images/restaurant.png" class="sideicon"> <span class="sort">오늘의 급식</span></li></a>
            <a href="/debug/council/list/"><li><img src="/static/images/council.png" class="sideicon"> <span class="sort">학생회</span></li></a>
             <a href="{% url 'boards:list' %}"><li><img src="/static/images/BOARD.png" class="sideicon"> <span class="sort">게시판</span></li></a>
            <div class="divider"></div>

            <p class="grey-text text-darken-1 left-align p">공모전팀</p>
            <a href="{% url 'teams:list' %}"><li><img src="/static/images/TEAM.png" class="sideicon"> <span class="sort">팀구하기</span></li></a>
            <a href="{% url 'teams:add' %}"><li><img src="/static/images/TEAM.png" class="sideicon"> <span class="sort">팀만들기</span></li></a>
            <div class="divider"></div>

            <p class="grey-text text-darken-1 left-align p">오늘 뭐하지?</p>
            <a href="/hotplace"><li><img src="/static/images/place.png" class="sideicon"> <span class="sort">선린장소</span></li></a>
            <a href="/openchat"><li><img src="/static/images/openchat.png" class="sideicon"> <span class="sort">오픈채팅</span></li></a>
            <div class="divider"></div>
        </ul>

    </div>

</nav>
{% block content %}
{% endblock %}
<!--  Scripts-->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/Materialize/dist/js/materialize.min.js"></script>
<script src="/static/js/bundle.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
