{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block style %}
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <div class="card" id="main-meal">
                    <div class="card-content white-text center">
                        <div class="col s12" id="main-card">
                            <img src="/static/images/meal.png" id="meal-img">
                        </div>
                        <span class="card-title"><strong>오늘의 급식</strong></span>
                        <p class="pclass main-content">햇반,맛짬뽕,삼겹살,피자<br/>치킨,치킨무</p>
                    </div>
                </div>

                <div class="card" id="main-notice">
                    <div class="card-content white-text">

                        <div class="row">
                            <div class="col s12 center-align">
                                <span class="card-title align-center"><strong>공지사항</strong></span>
                            </div>
                            <div class="col s2 ">
                                <img class="hot cardimage" src="/static/images/calendar.png"></div>
                            <div class="col s10">
                                <p class="pclass main-content">
                                    7일~12일 1학기 기말고사<br/>
                                    15일 전교회장 선거<br/>
                                    19일 1학년 멀티 꽃동네 봉사<br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" id="main-hot">
                    <div class="card-content white-text">

                        <div class="row">
                            <div class="col s12 center-align">
                                <span class="card-title"><strong>핫이슈</strong></span>
                            </div>
                            <div class="col s2 cardimage">
                                <img class="hot" src="/static/images/discuss-issue.png">
                            </div>
                            <div class="col s10">
                                <p class="pclass main-content">
                                    1.오늘 급식 어떻게 생각해요?<br/>
                                    2.숙대 주씨 알바생 이쁘던데요?<br/>
                                    3.금요일 단축수업함?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
{% endblock %}
