{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block style %}
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <div class="card" id="main-meal">
                    <div class="card-content white-text center">
                        <div class="col s12" id="main-card">
                            <img src="/static/images/meal.png" id="meal-img">
                        </div>
                        <span class="card-title"><strong>오늘의 급식</strong></span>
                        <p class="pclass main-content">햇반,맛짬뽕,삼겹살,피자<br/>치킨,치킨무</p>
                    </div>
                </div>

                <div class="card" id="main-notice">
                    <div class="card-content white-text">

                        <div class="row">
                            <div class="col s12 center-align">
                                <span class="card-title align-center"><strong>공지사항</strong></span>
                            </div>
                            {% if newses %}
                                <div class="col s2 ">
                                    <img class="hot cardimage" src="/static/images/calendar.png">
                                </div>
                                <div class="col s10">
                                    <p class="pclass main-content">
                                        {% for news in newses %}
                                            <a href="{% url 'boards:post_view' news.board.pk news.pk %}" class="white-text">{{ news.title }}<br/></a>
                                        {% endfor %}
                                    </p>
                                </div>
                            {% else %}
                                <div class="col s12">
                                    <p class="center">공지사항이 없습니다!</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card" id="main-hot">
                    <div class="card-content white-text">

                        <div class="row">
                            <div class="col s12 center-align">
                                <span class="card-title"><strong>핫이슈</strong></span>
                            </div>
                            {% if hot_posts %}
                                <div class="col s2 cardimage">
                                    <img class="hot" src="/static/images/discuss-issue.png">
                                </div>
                                <div class="col s10">
                                    <p class="pclass main-content">
                                        {% for news in hot_posts %}
                                            <a href="{% url 'boards:post_view' news.board.pk news.pk %}" class="white-text">{{ forloop.counter }}. {{ news.title }}<br/></a>
                                        {% endfor %}
                                    </p>
                                </div>
                            {% else %}
                                <p class="center">핫이슈가 없습니다!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
{% endblock %}
