{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block style %}
<link href="/static/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class = "container">

    <ul class="collection with-header">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/slider1.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>선린축제</h3>
                        <h5 class="light grey-text text-lighten-3">나만의 색깔을 찾아라!</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>앙기모찌</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </ul>


    <ul class="collection with-header maincard">
        <li class="collection-header headerbar" id="main-meal"><p class = "headers">Today's meal</p></li>
        <li class="collection-item"><a>중식 </a> 햇반, 치킨너겟, 포기김치, 푸딩, 에그타르트</li>
        <li class="collection-item"><a>석식 </a> 햇반, 치킨너겟, 포기김치, 푸딩, 에그타르트</li>
        <li class="collection-item" style="text-align:left"><a>급식평가하러가기>></a></li>
    </ul>
    <ul class="collection with-header maincard">
    <li class="collection-header headerbar" id="main-event"><p class = "headers">Today's event</p></li>
        <li class="collection-item">9월 모의고사</li>
    </ul>
    <ul class="collection with-header maincard">
    <li class="collection-header headerbar" id="main-notice"><p class = "headers">공지사항</p></li>
        <li class="collection-item">교내 모의해킹 방어대회 안내</li>
        <li class="collection-item">교내 멀티미디어 콘텐츠 공모전 안내</li>
        <li class="collection-item">Iot 특강 신청</li>
    </ul>
</div>
</div>
</div>


{% endblock %}

{% block script %}
{% endblock %}
