{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <nav>
            <div class="nav-wrapper grey">
                <div class="col s12">
                    <a href="{% url 'boards:list' %}" class="breadcrumb">게시판</a>
                    <a href="{% url 'boards:post_list' board.pk %}" class="breadcrumb">{{ board.name }}</a>
                </div>
            </div>
        </nav>
    </div>
    <ul class="collection">
        {% for post in posts %}
            <li class="collection-item avatar">
                <img src="{{ post.author.profile_image.url }}" alt="{{ post.author.name }}" class="circle">
                <a href="{% url 'boards:post_view' board.pk post.pk %}"><span class="title">{{ post.title }}</span></a>
                <p>{{ post.author.get_full_name }} | 댓글 {{ post.comments.count }} </p>
                <p>{{ post.created_at|date:"Y년 n월 j일 Af" }}</p>
            </li>
        {% endfor %}
    </ul>

    <ul class="pagination" align="center">
        {% if prev_page_btn %}
            <li class="waves-effect">
                {% else %}
            <li class="disabled" style="display:none">
        {% endif %}
        <a href="{% url 'boards:post_list' board.pk %}?page={{ prev_page_idx }}"><i class="material-icons">chevron_left</i></a></li>
        {% for page in pages %}
            {% for key, value in page.items %}
                {% if key %}
                    <li class="active">
                        {% else %}
                    <li class="waves-effect">
                {% endif %}
            <a href="{% url 'boards:post_list' board.pk %}?page={{ value }}">{{ value }}</a></li>
            {% endfor %}
        {% endfor %}
        {% if prev_page_btn %}
            <li class="waves-effect">
                {% else %}
            <li class="disabled" style="display:none">
        {% endif %}
        <a href="{% url 'boards:post_list' board.pk %}?page={{ nextpage_idx }}"><i class="material-icons">chevron_right</i></a></li>
    </ul>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="{% url 'boards:post_write' board.pk %}" class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>

    </div>

{% endblock %}
{% block script %}
{% endblock %}
