{% extends 'base.html' %}
{% block content %}
    <nav>
        <div class="nav-wrapper grey">
            <div class="col s12">
                <a href="{% url 'boards:list' %}" class="breadcrumb">게시판</a>
                <a href="{% url 'boards:post_list' post.board.pk %}" class="breadcrumb">{{ post.board.name }}</a>
                <a href="" class="breadcrumb">{{ post.title }}</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a>{{ post.title }}</a>
            </div>
            <div class="col s6">
                <p>{{ post.author.get_full_name }} | 조회수 {{ post.hit_count.hits }}</p>
            </div>
            <div class="col s6" align="right">
                <p> {{ post.created_at|date:"Y.n.j Af" }}</p>
            </div>
            <div class="col s12 divider"></div>
        </div>
        <div class="row">
            <div class="col s12">
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
            </div>
        </div>
        <div class="col s12 divider"></div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
                <label for="textarea1">댓글 쓰기</label>
            </div>
            <div class="col s12" align="right">
                <a class="waves-effect waves-light btn comment">등록</a>
            </div>
        </div>
        <div class="col s12 divider"></div>
        <ul class="collection">
            <li class="collection-item"><a>Comment "3"</a></li>
        </ul>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title">Title</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block script %}
{% endblock %}
